<!DOCTYPE html>
<html>
    <head>
        <title>Confessions App</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Confessions App for UMD Students - umd-confessions.herokuapp.com">
        <meta name="description" content="This is a confessions website for UMD Students. Drop your juciest confessions and read those of others too! Ask questions and respond to answers too!">
        <meta name="keywords" content="confession, confessions, UMD, University of Maryland, umd, question, questions, secret, maryland, Maryland">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="Edward Xiao">

        <meta property="og:title" content="Confessions App for UMD Students - umd-confessions.herokuapp.com">
        <meta property="og:site_name" content="UMD Confessions">
        <meta property="og:url" content="https://umd-confessions.herokuapp.com/">
        <meta property="og:description" content="This is a confessions website for UMD Students. Drop your juciest confessions and read those of others too! Ask questions and respond to answers too!">
        <meta property="og:type" content="website">
        {%load bootstrap5%}
        {%bootstrap_css%}
        {%bootstrap_javascript%}
        
        
        {%block custom_styles%} {%endblock custom_styles%}
        {%block custom_js%} {%endblock custom_js%}
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">
    {% comment %} <body class="d-flex flex-column min-vh-100"> {% endcomment %}
        {%include 'ConfessionsApp/nav.html'%}
        
        <main>
            <div class="">
                
                {%block content%}
                
                {%endblock content%}
            </div>
        </main>

        {% comment %} {%include 'ConfessionsApp/footer.html'%} {% endcomment %}
        
    </body>
</html>