
{%extends 'ConfessionsApp/base.html'%}



{%block content%}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <strong>Confessions</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <strong>Welcome to Confessions</strong>
                                <p>
                                    This is a simple web application that allows you to post confessions and view other confessions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{%endblock content%}