{%load static%}
<link rel="stylesheet" href="{%static 'css/index.css'%}">

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'ConfessionsApp:index'%}">Confessions App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'ConfessionsApp:confessions'%}">Confessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'ConfessionsApp:questions'%}">Questions</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-between">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'ConfessionsApp:myconfessions'%}">My Confessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'ConfessionsApp:myquestions'%}">My Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'ConfessionsApp:mycomments'%}">My Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" href="{%url 'Users:logout'%}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item mx-2">
          <a class="nav-link btn btn-primary text-white" href="{%url 'Users:login'%}">Login</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link btn btn-success text-white" href="{%url 'Users:signup'%}">Sign up</a>
        </li>
        {%endif %}
      </ul>
    </div>
  </div>
</nav>