{%extends 'ConfessionsApp/base.html'%}
{% load bootstrap_icons %}
{%load static%}

{%block custom_js%} 
  <script type="text/javascript" src="{%static 'js/submit.js'%}"></script>
{%endblock custom_js%}
{%block content%}

<div class="container mt-5 mb-3">
  <form class="text-center mx-5" method="POST">
    {%csrf_token%}
    {%if user.is_authenticated%}
    <input class="form-control mb-2" type="text"   
      name="QuestionInput" placeholder="Topic"
      />
      <textarea class="form-control mb-2" type="text"   
      name="QuestionBodyInput" placeholder="Write here"
      /></textarea>
      
    <input id="submitBtn" class="btn btn-outline-success mt-2 mb-4" type="submit" value="Post Anonymously" />
    {%else%}
    <input class="form-control mb-2" type="text"   
      name="QuestionInput" placeholder="Sign up to Post"
      disabled
    />
    <textarea class="form-control mb-2" type="text"   
      name="QuestionBodyInput" placeholder="Sign up to Post" disabled
      ></textarea>
    <input id="submitBtn" class="btn btn-outline-success mt-2 mb-4" type="submit" value="Post Anonymously" disabled/>
    {%endif%}
  </form>
  <a href="?page={{page_obj.number}}&SortBy=Newest">Newest</a>
  <a href="?page={{page_obj.number}}&SortBy=Oldest">Oldest</a>

  <div class="list-group">
    {%for question in page_obj%}
    <a href="{%url 'ConfessionsApp:question' question.id%}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 text-black" style="text-decoration:none">{{question.question_text}}</h5>
        <small>{{question.num_days_ago}} days ago</small>
      </div>
      <div>
        <p>{{question.body}}</p>
      </div>
    </a>
    <div class="fluid-container mb-3">
      <span class="list-group-item bg-light">
      <small class="">{{question.date}}</small> 
      {%if question.owner == request.user%}
        <a href="{%url 'ConfessionsApp:deletequestion' question.id%}" class="btn btn-danger"  title="Delete Question">
          Delete {%bs_icon 'trash' color='white'%}
        </a>
      {%endif%}
    </span>
    </div>
    {%endfor%}
  </div>
</div>

<div class="container">
<ul class="pagination my-3">
  {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&SortBy={{SortBy}}">previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&SortBy={{SortBy}}">{{ page_obj.previous_page_number }}</a>
      </li>
  {% endif %}
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="#" >{{page_obj.number}}</a>
  </li>
  {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}&SortBy={{SortBy}}">{{ page_obj.next_page_number }}</a>
    </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&SortBy={{SortBy}}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&SortBy={{SortBy}}">last &raquo;</a>
      </li>
  {% endif %}
</ul>
<span class="current">
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
</div>

{%endblock content%}