{%extends 'ConfessionsApp/base.html'%}
{% load bootstrap_icons %}
{%load static%}

{%block custom_js%} 
  <script type="text/javascript" src="{%static 'js/submit.js'%}"></script>
{%endblock custom_js%}
  
{%block content%}


<div class="container mt-5 mb-3">
  <form class="text-center mx-5" method="POST">
    {%csrf_token%}
    {%if user.is_authenticated%}
    <input class="form-control mb-2" type="text"   
      name="QuestionInput" placeholder="Enter a question title!"
      />
      <textarea class="form-control mb-2" type="text"   
      name="QuestionBodyInput" placeholder="Type your question here!"
      /></textarea>
    <input id="submitBtn" class="btn btn-outline-success mt-2 mb-4" type="submit" value="Ask!" />
    {%else%}
    <input class="form-control mb-2" type="text"   
      name="QuestionInput" placeholder="Login to ask a Question!"
      disabled
    />
    <textarea class="form-control mb-2" type="text"   
      name="QuestionBodyInput" placeholder="Login to ask a Question!"
      />
    <input id="submitBtn" class="btn btn-outline-success mt-2 mb-4" type="submit" value="Ask!" disabled/>
    {%endif%}
  </form>
  <a href="?page={{page_obj.number}}&SortBy=Newest">Newest</a>
  <a href="?page={{page_obj.number}}&SortBy=Oldest">Oldest</a>
  <div class="list-group">
    {%for Question in page_obj%}
    <span  class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5><a href="{%url 'ConfessionsApp:question' Question.id%}" class="mb-1 text-black" style="text-decoration:none">{{Question.question_text}}</a></h5>
        <small>{{Question.num_days_ago}} days ago</small>
      </div>
      <div>
        <p>{{Question.body}}</p>
      </div>
      <small>{{Question.date}}</small> 
    </span>
    {%endfor%}
  </div>
</div>

<div class="container">
<ul class="pagination my-3">
  {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&SortBy={{SortBy}}">previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&SortBy={{SortBy}}">{{ page_obj.previous_page_number }}</a>
      </li>
  {% endif %}
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="#" >{{page_obj.number}}</a>
  </li>
  {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}&SortBy={{SortBy}}">{{ page_obj.next_page_number }}</a>
    </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&SortBy={{SortBy}}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&SortBy={{SortBy}}">last &raquo;</a>
      </li>
  {% endif %}
</ul>
<span class="current">
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
</div>

{%endblock content%}