{%extends 'ConfessionsApp/base.html'%}


{%block content%}

<h1 class="text-center">My Posts</h1>
<div class="container mt-4">
  {%for question in questions%}
    <div class="card mt-2 mb-2">
        <div class="card-body">
          <span>{{question.question_text}}</span>
          <br>
          <span>{{question.body}}</span>
        </div>  
        <span class="card-body">
          <a href="{%url 'ConfessionsApp:question' question.id%}">Click to view</a>
        </span>
          <div class="card-footer py-1 submission-footer text-muted">
          <span class="card-text">
            {{question.date}}
            {%if question.num_days_ago != 1%}
              ({{question.num_days_ago}} days ago)
            {%else%}
            ({{question.num_days_ago}} day ago)
            {%endif%}
          </span>
        </div>
      </div>
  {%empty%}
  <p>You haven't made any post yet, post now.</p>
  {%endfor%}
{%endblock content%}