asgiref==3.5.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
Django==4.0.4
django-bootstrap-icons==0.7.9
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
gunicorn==20.1.0
idna==3.3
pytz==2022.1
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
whitenoise==6.1.0
