asgiref==3.6.0

beautifulsoup4==4.11.1
botocore==1.23.54
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
crispy-bootstrap5==0.7
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.5
django-bootstrap-form==3.4
django-bootstrap-icons==0.8.2
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0

filelock==3.9.0
future==0.16.0
idna==3.4
jmespath==0.10.0
pathspec==0.9.0
platformdirs==3.0.0

python-dateutil==2.8.2

PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
termcolor==1.1.0
tzdata==2022.7
umd-python-cas==1.0.1
urllib3==1.26.14
virtualenv==20.19.0
wcwidth==0.1.9
whitenoise==6.3.0
xmltodict==0.13.0

psycopg2-binary==2.9.5
